body {
    background-color: lightgray;
    margin: 0 auto;
    font-family: sans-serif;
}

#content {
    background-color: white;
    width: 75%;
    min-height: 92vh;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

#title {
    background-color: cornflowerblue;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    width: 75%;
}

footer {
    box-shadow: inset 0 0 7px darkgray;
    box-sizing: border-box;
    border-radius: 5px;
    bottom: 0;
    height: auto;
    width: 50%;
    margin: 0 auto;
}

#tag {
    background-color: khaki;
    box-shadow: inset 0 0 7px lightgray;
    box-sizing: border-box;
    border-radius: 2px;
}

#codeblock {
    display: block;
    box-shadow: inset 0 0 7px darkgray;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

li {
    text-align: justify;
}

#cat {
    border-style: solid;
    border-color: cornflowerblue;
    object-fit: contain;
    width: 150px;
}

